* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("images/homepagebg.jpg");
    background-size: cover;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 75px;
    margin-left: 20px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 20px;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after{
    width: 100%;
}

section{ 
    margin-top: 100px;
    margin-bottom: -50px;
}
h3{
    color: white;
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    color: white;
    background-color: #ff0000;
  }

  .container label{
    color: white;

  }

  .container {
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
  }

  .rate {
    float: left;
    height: 46px;
    padding: 10px;
  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



footer{
    background: rgba(0,0,0,0.5);
    padding:30px 0px;
    margin-top: 250px;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    }
    
footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:white;
    font-size:0.8em;
    }
    
footer .row a{
    text-decoration:none;
    color:black;
    transition:0.5s;
    }
    
footer .row a:hover{
    color:#fff;
    }
    
footer .row ul{
    width:100%;
    }
    
footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
@media (max-width:720px){
    nav img{
    width:50px;
    margin-left: 0px;
    }
    .nav-links{
    text-align: justify;    
    }
    footer i{
    color: white;
    }
    footer{
    text-align:center;
    padding:5%;
    }
    footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    footer .row a i{
    margin:0% 3%;
    }
    }